<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>Appearance</key>
	<string>light</string>
	<key>Application supports iTunes file sharing</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>Privacy - Calendars Usage Description</key>
	<string>We will use calendar to show scheduals</string>
	<key>UIAppFonts</key>
	<array>
		<string>Avenir-Light.otf</string>
		<string>Avenir-Regular.otf</string>
		<string>Avenir-Medium.otf</string>
		<string>Avenir-SemiBold.otf</string>
		<string>Avenir-Bold.otf</string>
		<string>Avenir-Black.ttf</string>
		<string>NunitoSans-Bold.ttf</string>
		<string>NunitoSans-Light.ttf</string>
		<string>NunitoSans-Medium.ttf</string>
		<string>NunitoSans-Regular.ttf</string>
		<string>NunitoSansSemiBold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
